<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu for additional settings">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="refresh()">
        <mat-icon>refresh</mat-icon>
        <span>Refresh</span>
    </button>
    <button mat-menu-item (click)="toggle()">
        <mat-icon>code</mat-icon>
        <span>
            <span [innerHTML]="showDOMSource ? 'Hide' : 'Show'"></span>
            DOM Element Source
        </span>
    </button>
    <button mat-menu-item (click)="exportLinks()">
        <mat-icon>save_alt</mat-icon>
        <span>Save Links</span>
    </button>
</mat-menu>

<button mat-stroked-button (click)="toggleAll(true)">
    Expand All
</button>
<button mat-stroked-button (click)="toggleAll(false)">
    Collapse All
</button>

<mat-form-field appearance="fill">
    <mat-label>Sort By</mat-label>
    <mat-select [(value)]="order" (selectionChange)="pushSortOrder()">
        <mat-option *ngFor="let option of sortOptions" [value]="option.val">
            {{option.display}}
        </mat-option>
    </mat-select>
</mat-form-field>
