.container {
    display: -webkit-flex;
    flex-direction: column;
    height: 100vh;
    width: 98%;
    padding: 0 1%;
}

app-link-list {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
}

app-input-panel {
    padding-top: 2%;
}
