a {
    text-decoration: none;
    padding: 0 5px;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    padding: 10px;
}

button {
    position: absolute;
    right: 10px;
    top: 5px;
    height: 1em;
}

/* mat-icon {
    justify-content: center;
    max-height: 100%;
}*/

.light {
    color: #888;
}

.title {
    padding: 0.5em 5px;
    overflow-inline: hidden;
    overflow: hidden;
    position: relative;
}

.title:hover {
    background-color: #ddd;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;

    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 5px solid #888;

}

.down {
    transform: rotate(90deg);
    transition: transform .25s;
}
