<div class="title" (click)="toggle()">
    <div class="arrow" [ngClass]="{'down': expand}"></div>
    <a href={{link.href}} target="_blank"
    [innerHTML]="link.href | highlightMatch: regex"
    (click)="toggle()"></a>
</div>
<div class="expandable" *ngIf="expand">
    <ul>
        <li><span class="light">Host: </span>{{link.host}}</li>
        <li><span class="light">Visible: </span>{{link.visible}}</li>
        <li><span class="light">Tag source: </span>{{link.tagName}}</li>
    </ul>
</div>
<P *ngIf="expand && showFullContent">
    <code>{{link.content}}</code>
</P>
