ul {
    list-style: none;
    padding: 20px;
    max-height: 80vh;
    overflow-y: hidden scroll;
}

li {
    overflow-x: scroll;
    white-space: normal;
}

li:nth-child(odd) {
    background-color: #eee
}
